.header{
            background-color: #38AEF0;
            height: 24px;
            width: 100%;
}
            .header__message{
                        text-align: center;
            }
                        .header__message-text{
                                    color: white;
                        }