@mixin side-size {
    height: 100vh;
    width: 300px;
    float: left;
    position: fixed;
}

@mixin side-text {
    color: #ffffff;
    font-weight: bold;
}

@mixin side-top{
    background-color: #253141;
    height: 100px;
    padding:0 20px;
}

@mixin size-main {
    background-color: #2f3e51;
    height: 100%;
    padding:0 20px;
}


@mixin message-size {
    margin:0 300px;
    width: calc(100vw - 300px);
    position: fixed;
}